body {
  background: #1e1e1e;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.app-title {
  text-align: center;
  margin: 1rem 0;
}

.filter-bar select,
footer select,
button {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #6d38a3;
  border-radius: 4px;
  background-color: #00f77f;
  color: white;
  font-size: 1rem;
}

.filter-bar select:focus,
footer select:focus,
button:focus {
  outline: none;
}

.table-container {
  width: 90%;
  margin: 1rem auto;
}

.character-table {
  width: 100%;
  border-collapse: collapse;
}

.character-table th,
.character-table td {
  padding: 0.5rem;
  border: 1px solid #fff;
  text-align: left;
}

.character-table th {
  background-color: #6d38a3;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
